button {
    height: 30px;
    width: auto;
    outline: none;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
}

button#sendTasks {
    background: rgb(152, 225, 152);
}

button.current {
    box-shadow: 0 0 0 2px white,
        0 0 0 4px black;
}