body {
    padding: .8rem;
    border: 1px solid rgb(236, 130, 130);
    border-radius: 5px;
    width: 300px;
}

.hidden {
    display: none;
}

p {
    margin-top: 5px;
}

h2 {
    margin-bottom: unset;
}